nav.navigation
  .navigation__wrapper
    .navigation__media
      a.navigation__media__link(href='/')=meta.data.title
        img.navigation__media__link__image(data-src=navigation.data.logo.url alt=navigation.data.logo.alt)
        //svg.navigation__media__link__icon

    .navigation__location
      p.navigation__location__active

    ul.navigation__list
      each item in navigation.data.list
        li.navigation__list__item
          a.navigation__list__item__link(href=Link(item.link))=item.text
