.preloader
  svg(data-name="Lag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.99 106.37" fill='none' stroke='#000' stroke-miterlimit='10' stroke-width='2px' stroke-linecap="round")
    path(fill='#000' stroke='#000' stroke-miterlimit='10' stroke-width='2px' d="m.94 100.87 34-96")
    path(d="m48.94 25.87-9 19-6 22s-7 22 4 12 21-31 21-31l-2 8s2 11 5 11-8 11-8 11l21.64-25 16.01-27s1.35-6-2.65-1-33 80-33 80")
    path(d="m31.75 41.13 66.2-7.26s4 0 0 3-23 6-23 6")
    path(d="M91.94 49.87s7 4 2 12-9 9-9 9-4-2-3-11 10-10 10-10Z")
    path(d="m103.38 52.87 12.01-14.5-12.45 31.5 20.46-20s-8.46 13-2.46 12 13-10 13-10 3-20 10-27 7-14 24-21 23 1 23 1 7 4 8 10 0 10.36 0 10.36")
    path(d="M133.94 51.87s-2 21 4 22 5 6 16 4 25-13 25-13l11-17-33 58")
    path(d="M200.94 49.87s5 5.21 0 13.61-8 7.39-8 7.39-5-3-1-13 9-8 9-8Z")
    path(d="M220.94 25.87s-22 47-15 56 42-59 42-59l-15 35-5 15 15.56-21.5s3.44-4.5 2.44.5-3 16-3 16l13-12s6-10 14-12")
    path(d="M255.94 55.87s-5 6-4 12 1.93 5.39 1.93 5.39 13.07-12.39 12.07-15.39-4 9-1 10 15.36-16.5 15.36-16.5l-9.36 20.5s15.07-26 20.04-20.5-5.04 16.5-5.04 16.5 13-16 15-12-2 11-2 11 14-9 13-12")
    path(d="M204.57 41.13s61.38-5.26 60.38-8.26")

    .preloader__number
      .preloader__number__text 0%
