.navigation
{
  z-index: z('navigation');
  position: fixed;
  width: 100%;
}

.navigation__wrapper
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.navigation__home
{
  height: 100%;
  width: 100%;

  position: absolute;
  left: 4rem;
  top: 4rem;
}

.navigation__home__link
{
  @extend %link__center--hidden;
  @extend %desc-16;

  font-weight: 300;
  padding: 1rem 0;
}

.navigation__list
{

}

.navigation__list__item
{
  pointer-events: auto;
  position: absolute;
  right: 4rem;
  top: 4rem;
}

.navigation__list__item__link
{
  @extend %link__center--hidden;
  @extend %desc-16;

  font-weight: 300;
  display: block;
  line-height: 1;
  padding: 0.5rem 0;
}
