.navigation
{
  //@extend %cover;

  z-index: z('navigation');
  position: fixed;
  width: 100%;
  /* pointer-events: none; */
}

.navigation__wrapper
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.navigation__media
{
  height: 15rem;
  width: 15rem;

  position: relative
}

.navigation__media__link
{
  font-size: 0rem;
}

.navigation__media__link__image
{
  @extend %cover;

  object-fit: cover;
}

.navigation__location
{
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
}

.navigation__location__active
{
  @extend %title-25;

  text-transform: uppercase;
  letter-spacing: 1rem;
}

.navigation__list
{

}

.navigation__list__item
{
  pointer-events: auto;
  position: absolute;
  right: 4rem;
  top: 4rem;

}

.navigation__list__item__link
{
  @extend %link--hidden;
  @extend %desc-25;

  font-weight: 500;
  display: block;
  line-height: 1;
}
