.navigation
{
  z-index: z('navigation');
  position: fixed;
  width: 100%;
}

.navigation__wrapper
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.navigation__home
{
  position: absolute;
  left: 4rem;
  top: 4rem;

  height: 5rem;
  width: 15rem;
}

.navigation__home__link
{
  height: 100%;
  width: 100%;

  font-size: 0;
}

svg.navigation__home__logo
{
  opacity: 1;
  transition: all 0.2s linear;

  &:hover
  {
    opacity: 0.5;
  }
}

.p
{
  height: 100%;
  width: 100%;

  stroke-width: 1px;
  stroke-miterlimit: 10;
  mix-blend-mode: difference;
}

.navigation__list
{

}

.navigation__list__item
{
  pointer-events: auto;
  position: absolute;
  right: 4rem;
  top: 5.2rem;
}

.navigation__list__item__link
{
  @extend %link__center--hidden;
  @extend %desc-16;

  font-weight: 300;
  display: block;
  line-height: 1;
  padding: .5rem 0;
}
