.about
{
  @extend %page;

  &__media__figure
  {
    height: 40rem;
    width: 50rem;
    position: relative;

    &__image
    {
      @extend %cover;

      object-fit: cover;
    }
  }

  &__wrapper
  {

  }

  &__header
  {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 70rem;

    &__title
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      padding: 10rem 12.7rem;
      border-right: 1px solid $color-cadet-blue-crayola;

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;
      }
    }

    &__media
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }
  }

  &__background
  {
    border-top: 1px solid $color-cadet-blue-crayola;

    &__gc
    {
      display: grid;
      grid-template-columns: 1fr 5rem 70rem;

      &__smdesc
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;
        align-self: center;
        justify-self: center;
        padding: 10rem 12.7rem;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        &__text
        {
          @extend %desc-50;

        }
      }

      &__bg
      {
        grid-area: 1 / 2 / -1 / 3;
        height: 100%;
        width: 100%;
        align-self: flex-start;
        justify-self: center;

        &__title
        {
          display: flex;
          justify-content: center;
          align-items: center;

          writing-mode:vertical-rl;
          transform: scale(-1, -1);

          height: 100%;
          width: 100%;
          padding: 2rem 0;
          border-left: 1px solid $color-cadet-blue-crayola;
          border-top: 1px solid $color-cadet-blue-crayola;

          &__text
          {
            @extend %title-25;
          }
        }
      }
    }
    &__desc
    {
      grid-area: 1 / 3 / -1 / -1;

      &__frame
      {
        text-align: center;
        padding: 4rem 2rem;
        border-top: 1px solid $color-cadet-blue-crayola;

        &:first-of-type
        {
          border: none;
        }

        &:last-of-type
        {
          border-bottom: 1px solid $color-cadet-blue-crayola;
        }

        &__text
        {
          @extend %desc-25;
        }
      }
    }
  }

  &__clients
  {
    padding-bottom: 12.7rem;

    &__title
    {


      &__text
      {
        @extend %title-70;

        letter-spacing: 2rem;
        padding: 12.7rem;
      }
    }

    &__gallery
    {

      &__wrapper
      {
        padding: 0 35rem;
      }

      &__client
      {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        &__name
        {
          @extend %desc-25;

          letter-spacing: 1rem;
          padding: 3rem;
        }
      }

    }
  }

  &__desc
  {
    display: grid;
    grid-template-columns: 1fr 70rem;
    height: 100%;
    width: 100%;
    padding: 12.7rem;
    padding-right: 0;

    &__gc
    {
      grid-area: 1 / 1 / -1 / 2;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      padding-left: 12.7rem;

      display: grid;
      grid-template-columns: 5rem 1fr;

      &__title
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;

        &__text
        {
          @extend %title-25;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);
        }
      }

      &__desc
      {
        grid-area: 1 / 2 / -1 / -1;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__text
        {
          @extend %desc-25;

        }
      }
    }


    &__location
    {
      @extend %center;

      grid-area: 1 / 2 / -1 / -1;
      width: 100%;
      height: 100%;
      padding: 12.7rem;

      border-left: 1px solid $color-cadet-blue-crayola;

      &__text
      {
        @extend %title-100;

        writing-mode: vertical-lr;
        transform: scale(1, 1);
      }
    }
  }

  &__press
  {
    padding-bottom: 12.7rem;

    &__title
    {

      &__text
      {
        @extend %title-70;

        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 12.7rem;
        padding-top: 0;
      }
    }

    &__content
    {
      padding: 0 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &__div
      {
        width: 100%;
        padding: 3rem;
        border-bottom: 1px solid $color-cadet-blue-crayola;

        &__title
        {
          @extend %desc-25;
          cursor: pointer;
          letter-spacing: 0.5rem;

          &__link
          {
            visibility: hidden;
          }
        }
      }

    }
  }

  &__contact
  {
    height: 100%;
    width: 100%;
    padding: 22.7rem;

    &__title
    {
      @extend %center;

      padding-bottom: 15rem;

      &__text
      {
        @extend %title-100;

        text-transform: uppercase;
      }
    }

    &__details
    {
      @extend %center;

      padding-bottom: 12.7rem;

      &__text
      {
        @extend %link--hidden;
        @extend %desc-40;

        letter-spacing: 1rem;
      }
    }
  }

  &__footer
  {
    height: 100%;
    width: 100%;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 70rem 1fr;
    border-top: 1px solid $color-cadet-blue-crayola;

    &__media
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }

    &__title
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      padding: 10rem 12.7rem;
      border-left: 1px solid $color-cadet-blue-crayola;

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;
      }
    }
  }
}
