%title-15
{
  font-family: $font-bodoni-libre;
  font-size: 1.5rem;
}

%title-20
{
  font-family: $font-bodoni-libre;
  font-size: 2rem;
}

%title-25
{
  font-family: $font-bodoni-libre;
  font-size: 2.5rem;
}

%title-50
{
  font-family: $font-bodoni-libre;
  font-size: 5rem;
}

%title-70
{
  font-family: $font-bodoni-libre;
  font-size: 7rem;
}

%title-80
{
  font-family: $font-bodoni-libre;
  font-size: 8rem;
}

%title-90
{
  font-family: $font-bodoni-libre;
  font-size: 9rem;
}

%title-100
{
  font-family: $font-bodoni-libre;
  font-size: 10rem;
}

%title-150
{
  font-family: $font-bodoni-libre;
  font-size: 10rem;
}

%title-200
{
  font-family: $font-bodoni-libre;
  font-size: 20rem;
}
