%title-15
{
  font-family: $font-oswald;
  font-size: 1.5rem;
}

%title-25
{
  font-family: $font-oswald;
  font-size: 2.5rem;
}

%title-50
{
  font-family: $font-oswald;
  font-size: 5rem;
}

%title-100
{
  font-family: $font-oswald;
  font-size: 10rem;
}

%title-150
{
  font-family: $font-oswald;
  font-size: 10rem;
}

%title-200
{
  font-family: $font-oswald;
  font-size: 20rem;
}
