.project
{
  @extend %page;

}

.project__wrapper
{
  @extend %cover;

  display: flex;
  align-items: center;
}

.project__gallery
{
  @extend %cover;

  height: 172.5rem;
  width: 241.8rem;
  padding: 2rem;
  transform: translateX(-10rem);
  visibility: hidden;
  
  display: flex;
  flex-wrap: wrap;
  gap: 2rem

}

.project__gallery__media
{
  /* position: absolute; */

  width: 40rem;
  height: 60rem;

  position: relative;
}

.project__gallery__media__image
{
  @extend %cover;

  object-fit: cover;
}
