.project
{
  @extend %page;

  /* &:before,
  &:after
  {
    content: '';
    height: 24rem;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &:before
  {
    background: linear-gradient(to bottom, $color-charade 0%, rgba($color-charade, 0) 100%);
    top: 0;
  }

  &:after
  {
    background: linear-gradient(to top, $color-charade 0%, rgba($color-charade, 0) 100%);
    bottom: 0;
  } */
}

.project__wrapper
{
  @extend %cover;

  display: flex;
  align-items: center;
}

.project__gallery
{
  @extend %cover;

}

.project__gallery__wrapper
{
  @extend %center;

  flex-wrap: wrap;
  gap: 4rem;
  padding:10rem;

}

.project__gallery__media
{
  height: 50rem;
  width: 50rem;

  position: relative;
}

.project__gallery__media__image
{
  @extend %cover;

  object-fit: cover;
}
