.project
{
  @extend %page;


  &__wrapper
  {
    @extend %cover;

    display: flex;
    align-items: center;
  }

  &__gallery
  {
    @extend %cover;

    padding: 0 30rem;
    visibility: hidden;

    &__left
    {
      height: 100%;
    }

    &__right
    {
      height: 100%;
      transform: rotateZ(180deg) translateY(0%);
    }
  }

  &__title
  {
    @extend %title-100;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0 0 10rem 20rem;

    &__text
    {
      @extend %title-150;

      text-transform: uppercase;
      writing-mode:vertical-lr;
      letter-spacing: 2rem;
      transform: scale(-1, -1);
    }
  }
}


.project__gallery__left__media,
.project__gallery__right__media
{
  /* position: absolute; */

  width: 50rem;
  height: 70rem;
  margin: 10rem;

  position: relative;

  &__image
  {
    @extend %cover;

    object-fit: cover;
  }
}
