.project
{
  @extend %page;


  &__wrapper
  {
    @extend %cover;

  }

  &__gallery
  {
    @extend %cover;

    height: 100%;
    width: 100%;
    visibility: hidden;

    &__media
    {
      width: 33rem;
      height: 50rem;

      position: relative;

      &__image
      {
        @extend %cover;

        object-fit: cover;
      }
    }
  }

  &__title
  {
    @extend %title-100;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    &__text
    {
      @extend %title-200;

      text-transform: uppercase;
      letter-spacing: 2rem;
    }
  }
}
