.preloader
{
  @extend %cover;
  @extend %center;

  background: #030303;
  color: $color-cultured;
  text-align: center;
  z-index: z('preloader');

  .logo_preloader
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 40rem;
    width: 50rem;
    opacity: 1;
  }

  &__number
  {
    @extend %desc-50;

    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    overflow: hidden;

    &__text
    {
      display: inline-block;
    }
  }
}

.preloader__border
{
  @extend %cover;

  border-width:0px;
  border-style:solid;
  border-color:#EEF1EF;
  z-index:-1;
}
