.preloader
{
  @extend %cover;
  @extend %center;

  background: #030303;
  color: $color-cultured;
  text-align: center;
  z-index: z('preloader');

  .preloader__logo
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 40rem;
    width: 50rem;
    opacity: 1;
  }

  &__number
  {
    @extend %desc-20;

    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: hidden;

    &__text
    {
      display: inline-block;
    }
  }
}
