.preloader
{
  @extend %cover;
  @extend %center;

  background: #030303;
  color: $color-cultured;
  text-align: center;
  z-index: z('preloader');

  &__text
  {
    @extend %title-50;

    span
    {
      display: inline-block;
      overflow: hidden;
    }
  }

  &__number
  {
    @extend %desc-20;

    position: absolute;
    bottom: 7.4rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    &__text
    {
      display: inline-block;
    }
  }
}
