.preloader
{
  @extend %cover;
  @extend %center;

  background: $color-pewter-blue;
  color: $color-black-coral;
  text-align: center;
  z-index: z('preloader');
}

.preloader__text
{
  @extend %title-100;

  span
  {
    display: inline-block;
    overflow: hidden;
  }
}

.preloader__number
{
  @extend %desc-16;

  position: absolute;
  bottom: 7.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.preloader__number__text
{
  display: inline-block;
}
