$color-black: #000;
$color-charade: #2d323c;
$color-big-stone: #14213D;
$color-sun: #FCA311;
$color-mercury: #E5E5E5;
$color-white: #fff;


$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$font-oswald: 'Oswald';
$font-source-sans-pro: 'Source Sans Pro';

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);
