$color-black: #000;
$color-charade: #2d323c;
$color-big-stone: #14213D;
$color-sun: #FCA311;
$color-mercury: #E5E5E5;
$color-white: #fff;

$COLOR_Y_MN_BLUE: '#304D6D';
$COLOR_AIR_SUPERIORTY_BLUE: '#82A0BC';
$COLOR_BABY_BLUE: '#A7CCED';
$COLOR_BLUE_JEANS: '#63ADF2';
$COLOR_INDEPENDENCE: '#545E75';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$font-oswald: 'Oswald';
$font-source-sans-pro: 'Source Sans Pro';

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);
