*
{
  box-sizing: border-box;
  user-select: none;
}

html
{
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);

  overscroll-behavior: none;
  overflow: hidden;
  position: fixed;

  background: $color-dark-jungle-green;
  color: $color-cultured;

  @include media('<phone')
  {
    font-size: calc(100vw / 750 * 10);
  }
}

body
{
  @extend %cover;
  @extend %desc-16;

  position: fixed;
  font-family: $font-source-sans-pro;

  /* @include media('<=phone')
  {
    font-size: 100px;
  } */
}

a
{
  color: inherit;
  text-decoration: none;
  outline: none;
}

img
{
  opacity: 0;
  transition: opacity .5s ease;
  vertical-align: middle;

  &.loaded
  {
    opacity: 1;
  }
}

.content
{
  @extend %cover;
}

[data-animation="paragraph"],
[data-animation="label"],
[data-animation="title"]
{
  overflow: hidden;

  span
  {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
