extends ../base.pug

block variables
    - var template = 'project'

block content
  .project(data-background=project.background_color)
    .project__wrapper
      .project__gallery
        each image in project.gallery
          figure.project__gallery__media
            img.project__gallery__media__image(data-src=image.image.url alt=image.image.alt)

      .project__title
        h1.project__title__text(data-animation='title')=project.title



