extends ../base.pug

block variables
    - var template = 'project'

block content
  .project
    .project__wrapper
      .project__title
        h1.project__title__text=project.title

      .project__gallery
        .project__gallery__wrapper
          each image in project.gallery
            figure.project__gallery__media
              img.project__gallery__media__image(src=image.image.url alt=image.image.alt)



