.home
{
  @extend %page;

  z-index: 0;

  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

    z-index: 1;

      &__wrapper
      {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-32rem * 0.5, -50%);
      }

      &__link
      {
        display: block;
        margin: 0 1.325rem;

        &:first-child
        {
          margin-left: 0;
        }

        &:last-child
        {
          margin-right: 0;
        }
      }

      &__media
      {
        height: 55rem;
        width: 20rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

  }

  &__content
  {

    &__title
    {
      position: absolute;
      bottom: 4rem;
      left: 4rem;
      text-align: center;
      padding: 1rem;

      &__text
      {
        @extend %title-100;

        padding: 1rem;
        overflow: hidden;

        span
        {
          span
          {
            opacity: 0;
          }
        }
      }
    }
  }

  &__links
  {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 1;

    &__title
    {
      text-align: right;

      margin: 0.8rem;

      &:first-child
      {
        margin-top: 0;
      }

      &:last-child
      {
        margin-bottom: 0;
      }

      &__text
      {
        @extend %desc-16;

        font-weight: 300;
        display: block;
        line-height: 1;
        cursor: pointer;

        &__link
        {
          visibility: hidden;
        }
      }
    }
  }
}
