.home
{
  @extend %page;

  z-index: z('content');


  .selectors
  {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 10;

    &__videos
    {
      @extend %link__through__lr--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__lr;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }

    &__slash
    {

      &__text
      {
        @extend %desc-50;
      }
    }

    &__photos
    {
      @extend %link__through__rl--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__rl;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }
  }


  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

    z-index: 1;

    &__wrapper
    {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 100%;
      width: 100%;
    }

    &__vidwrap
    {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 100%;
      width: 100%;
    }

    &__video
    {
      display: block;
      margin: 0 4rem;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__link
      {
        @extend %link__menu--hidden;

        padding: 2rem 0;
      }

      &__media
      {
        height: 55rem;
        width: 10rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

      &__title
      {

        &__text
        {
          writing-mode: vertical-rl;
          transform: scale(-1, -1);

        }
      }
    }


    &__imgwrap
    {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      position: absolute;
      top: 50%;
      left: 150%;
      transform: translate(-55%, -50%);

      height: 100%;
      width: 100%;
    }

    &__image
    {
      display: block;
      margin: 0 4rem;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__link
      {
        @extend %link__menu--hidden;

        padding: 2rem 0;
      }

      &__media
      {
        height: 55rem;
        width: 10rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

      &__title
      {

        &__text
        {
          writing-mode: vertical-rl;
          transform: scale(-1, -1);

        }
      }
    }
  }

  &__content
  {

    &__videos
    {
      &__title
      {
        position: absolute;
        top: 15%;
        left: 20%;

        padding: 1rem;

        width: 100%;

        &__text
        {
          @extend %title-80;

          padding: 1rem;
          overflow: hidden;

          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }

    &__images
    {

      &__title
      {
        position: absolute;
        top: 15%;
        left: 20%;
        padding: 1rem;

        width: 100%;

        &__text
        {
          @extend %title-80;

          padding: 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &__description
  {
    position: absolute;
    bottom: 6rem;
    left: 4rem;

    &__text
    {
      @extend %desc-16;
    }
  }

  &__links
  {
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    z-index: 1;

    display: flex;
    align-items: center;

    &__media
    {
      height: 2.5rem;
      width: 2.5rem;

      margin: 0 1.325rem;
      vertical-align: top;
      opacity: 1;
      transition: all 0.2s linear;

      &:hover
      {
        opacity: 0.5;
      }

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__div
      {
        height: 100%;
        width: 100%;
        cursor: pointer;

        &__link
        {
          visibility: hidden;
        }
      }

      &__image
      {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: invert(1);
      }
    }
  }
}

