.home
{
  @extend %page;

  opacity: 0;

  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

      &__wrapper
      {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        visibility: hidden;
      }

      &__link
      {
        display: block;
        margin: 0 1.325rem;
      }

      &__media
      {
        height: 50rem;
        width: 33rem;
        position: relative;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

  }
}

/* .home__title
{
  @extend %title-50;

  position: absolute;
  top: 25%;
  left: 25%;
} */



.home__gallery__content
{

}

.home__gallery__title
{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -15%);
  opacity: 0;
  z-index: 100;
}

.home__gallery__title__text
{
  @extend %title-100;

  text-transform: uppercase;
}
