.home
{
  @extend %page;

  z-index: 0;

  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

    z-index: 1;

      &__wrapper
      {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-32rem * 0.5, -50%);
      }

      &__link
      {
        display: block;
        margin: 0 1.325rem;

        &:first-child
        {
          margin-left: 0;
        }

        &:last-child
        {
          margin-right: 0;
        }
      }

      &__media
      {
        height: 55rem;
        width: 32rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

  }
}
