.home
{
  @extend %page;

  opacity: 0;

  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

      &__wrapper
      {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 10%);
        //transform: translateY(-10%);
        z-index: 1000;

        visibility: hidden;
      }

      &__link
      {
        display: block;
        margin: 0 1.325rem;
      }

      &__media
      {
        height: 50rem;
        width: 32rem;
        position: relative;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

  }
}
