.home
{
  @extend %page;

  z-index: 0;


  .selectors
  {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 10;

    &__videos
    {
      @extend %link__through__lr--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__lr;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }

    &__slash
    {

      &__text
      {
        @extend %desc-50;
      }
    }

    &__photos
    {
      @extend %link__through__rl--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__rl;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }
  }


  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  &__gallery
  {
    @extend %cover;

    z-index: 1;

      &__wrapper
      {

      }

      &__vidwrap
      {
        display: flex;
        align-items: center;
        padding: 2rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &__video
      {

        &__link
        {
          @extend %link__menu--hidden;

          padding: 2rem 0;
          display: block;
          margin: 0 1.325rem;

          &:first-child
          {
            margin-left: 0;
          }

          &:last-child
          {
            margin-right: 0;
          }
        }

        &__media
        {
          height: 55rem;
          width: 10rem;
          position: relative;

          visibility: hidden;

          &__image
          {
            @extend %cover;

            object-fit: cover;
          }
        }
      }


      &__imgwrap
      {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 150%;
        transform: translate(-62%, -50%);
        padding: 2rem;
      }

      &__image
      {

        &__link
        {
          @extend %link__menu--hidden;

          padding: 2rem 0;
          display: block;
          margin: 0 1.325rem;

          &:first-child
          {
            margin-left: 0;
          }

          &:last-child
          {
            margin-right: 0;
          }
        }

        &__media
        {
          height: 55rem;
          width: 10rem;
          position: relative;

          visibility: hidden;

          &__image
          {
            @extend %cover;

            object-fit: cover;
          }
        }
      }


  }

  &__content
  {

    &__videos
    {

      &__title
      {
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 1rem;

        &__text
        {
          @extend %title-50;

          padding: 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }

    &__images
    {

      &__title
      {
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 1rem;

        &__text
        {
          @extend %title-50;

          padding: 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }

  }

  &__links
  {
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    z-index: 1;

    display: flex;
    align-items: center;

    &__link
    {

      &__media
      {
        height: 4rem;
        width: 4rem;

        position: relative;
        stroke: #EEF1EF;
      }
    }

    /* &__title
    {
      text-align: right;
      margin: 0 1rem;
      padding: 2rem 0.5rem;

      &__text
      {
        @extend %link__center--hidden;
        @extend %desc-16;

        font-weight: 300;
        display: block;
        line-height: 1;
        padding: 1rem 0;
        cursor: pointer;
      }
    } */
  }
}

