.home
{
  @extend %page;

  z-index: z('content');

  &__wrapper
  {
    @extend %cover;

    overflow: hidden;
  }

  .selectors
  {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 10;

    &__videos
    {
      @extend %link__through__lr--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__lr;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }

    &__slash
    {

      &__text
      {
        @extend %desc-50;
      }
    }

    &__photos
    {
      @extend %link__through__rl--hidden;

      cursor: pointer;

      &--active
      {
        @extend %link__through__rl;
      }

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }
  }

  &__gallery
  {
    @extend %cover;

    z-index: 1;

    &__wrapper
    {
      display: flex;
      align-items: center;

      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }

    &__videos
    {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 4rem;

      height: 100%;
      width: 100%;
    }

    &__video
    {
      display: flex;
      align-items: center;
      margin: 0 4rem;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__link
      {
        @extend %link__menu--hidden;

        padding: 2rem 0;
        display: block;
      }

      &__media
      {
        height: 45rem;
        width: 10rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

      &__titles
      {

        &__right
        {
          @extend %title-30;

          writing-mode: vertical-lr;
          transform: scale(1, 1);
          /*  letter-spacing: 0.5rem; */
          word-spacing: 2rem;
          padding: 0 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }

        &__left
        {
          @extend %title-30;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);
          /*  letter-spacing: 0.5rem; */
          word-spacing: 2rem;
          padding: 0 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }

    &__images
    {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 4rem;

      position: absolute;
      left: 150%;
      top: 50%;
      transform: translate(-50%, -50%);

      height: 100%;
      width: 100%;
    }

    &__image
    {
      display: flex;
      align-items: center;
      margin: 0 4rem;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__link
      {
        @extend %link__menu--hidden;

        padding: 2rem 0;
        display: block;
      }

      &__media
      {
        height: 45rem;
        width: 10rem;
        position: relative;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

      &__titles
      {

        &__right
        {
          @extend %title-30;

          writing-mode: vertical-lr;
          transform: scale(1, 1);
          /*  letter-spacing: 0.5rem; */
          word-spacing: 2rem;
          padding: 0 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }

        &__left
        {
          @extend %title-30;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);
          /*  letter-spacing: 0.5rem; */
          word-spacing: 2rem;
          padding: 0 1rem;
          overflow: hidden;
          opacity: 0;

          span
          {
            span
            {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .occupations
  {
    position: absolute;
    bottom: 4rem;
    left: 4rem;

    display: flex;
    align-items: center;
    gap: 2rem;

    &__occupation
    {

      &__text
      {
        @extend %desc-16;

        letter-spacing: .2rem;
      }
    }

    &__slash
    {

      &__text
      {
        @extend %desc-25;
      }
    }
  }

  &__links
  {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 1;

    display: flex;
    align-items: center;

    &__media
    {
      height: 2.5rem;
      width: 2.5rem;

      margin: 0 1.325rem;
      vertical-align: top;
      opacity: 1;
      transition: all 0.2s linear;

      &:hover
      {
        opacity: 0.5;
      }

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__div
      {
        height: 100%;
        width: 100%;
        cursor: pointer;

        &__link
        {
          visibility: hidden;
        }
      }

      &__image
      {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: invert(1);
      }
    }
  }
}

